<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<div class="container p-2" style="background-color:white;width:18rem">
<p><strong> User Profiles: </strong></p>
<% if @profiles == ["No people match this search!"] %>
<h1> No users matched this search! </h1>
<% else %>
<% @profiles.each do |profile| %>
  <div class="is-flex m-4">
  <%= link_to user_profile_path(profile.user_id) do %>
    <% if profile.avatar.attached? %>
      <figure class="image m-1"><%= image_tag profile.avatar, class: "image is-32x32 is-rounded" %></figure>
    <% else %>
      <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar", class: "image is-32x32 is-rounded") %>
    <% end %>
    <%= User.find(profile.user_id).name + " " + User.find(profile.user_id).surname %>

    <% @profiles_friends = User.find(profile.user_id).friends %>
      <% we_are_friends = false %>
      <% @profiles_friends.each do |friend| %>
        <% if friend.id == current_user.id %>
        <% we_are_friends = true %>
        <% end %>
        <% end %>

      <% @outgoing = current_user.friend_requests%>
      <% friend_request_sent = false %>
      <% @outgoing.each do |request| %>
        <% if request.friend_id == profile.user_id %>
        <% friend_request_sent = true %>
        <% end %>
        <% end %>

        <% if (we_are_friends != true && friend_request_sent != true && profile.user_id != current_user.id) %>
        <div class="is-flex is-justify-content-flex-end">
        <%= form_for FriendRequest.new, url: friend_requests_path(:friend_id => profile.user_id, :user_id => current_user.id) do |form| %>
          <%= form.submit "Add Friend", :class => "button is-rounded is-link" %></div>
          <% end %>

        <%elsif friend_request_sent == true  %>
        <h1> Friend request already sent! </h1>

        <% elsif we_are_friends == true %>
        <h1> Friends </h1>
        <% end %>

  <% end %>
  </div>
<% end %>
<%end %>
</div>