<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "application", async: true %>
</head>

<div id="main-container">
  <div class="columns p-2 wrapper is-flex">
    <div class="column is-half" style="background-color:white;overflow:scroll;border-radius:100px">
      <%# edit button %>
        <% if @user.profiles.first[:user_id] == current_user.id %>
        <div class="is-flex is-justify-content-flex-end">
          <%= link_to "Edit Profile", edit_user_profile_path, class: "button is-link is-small is-rounded mt-4" %>
        </div>

        <% elsif !(@friend_request_pending.blank?) %>
        <div class="is-flex is-justify-content-flex-end">
          <%= link_to "Pending Request", friend_requests_path, class: "button is-link is-small is-rounded mt-4" %>
        </div>

        <% elsif (@we_are_friends != true && @friend_request_sent != true) %>
        <div class="is-flex is-justify-content-flex-end">
          <%= form_for FriendRequest.new, url: friend_requests_path(:friend_id => @user.profiles.first[:user_id], :user_id => current_user.id) do |form| %>
            <%= form.submit "Add Friend", :class => "button is-rounded is-link is-small mt-4" %>
          <% end %>
        </div>

        <% elsif @friend_request_sent == true  %>
        <div class="is-flex is-justify-content-flex-end">
          <h1 class="mt-4"> Friend request already sent! </h1>
        </div>

        <% elsif @we_are_friends == true %>
          <div class="is-flex is-justify-content-flex-end">
            <h1 class="mt-4 mr-2" style="font-size: 110%;"> Friends </h1>
            <% @friendship = Friendship.where(user_id: @user.profiles.first[:user_id], friend_id: current_user.id).first %>
            <%= form_for @friendship, url: friends_destroy_path(:id => @user.profiles.first[:user_id]), method: 'post' do |form| %>
              <%= form.submit "Unfriend", :class => "button is-rounded is-link is-small mt-4" %>
            <% end %>
          </div>
        <% end %>
      
        <div class="is-flex is-flex-direction-column is-align-items-center">
          <% @user.profiles.each do |profile| %><br>
          <%# big image avatar/profile %>
          <figure class="image" id="profile-avatar">
            <% if profile.avatar.attached? %>
              <%= image_tag profile.avatar, class: "image is-rounded" %>
            <% else %>
              <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar") %>
            <% end %>
          </figure>
          <p id="profile-name"><strong><%= @user.name + " " + @user.surname %></strong></p>
          <div class="is-flex m-4" id="about-photo-box-c">
          <%# about section %>
            <div class="p-1 m-1 is-flex is-flex-direction-column is-align-items-center" id="about">
            <p><strong>About:</strong></p>
              <%= profile.about %>
            </div>
            <div class="container m-1 is-flex is-flex-direction-column photo-box is-align-items-center">
            <p><strong>Photos:</strong></p>
            <%# photo wrapper %>
              <div class="is-flex">
                <% @posts_to_use.each do |post| %>
                <%# all images used in post or comments %>
                  <% if post.image.attached? && (post.user_id == @user.id)%>
                    <figure class="p-1"><%= image_tag post.image, class: "post-img"%></figure>
                  <% end %>
                    <% post.comments.each do |comment| %>
                      <% if comment.image.attached? && (comment.user_id == @user.id) %>
                        <figure class="p-1"><%= image_tag comment.image, class: "comment-img"%></figure>
                      <% end %>
                    <%end %>
                  <%end %>
                </div>
            </div>
          </div>

          <div class="is-flex is-flex-direction-column is-align-items-center p-2" id="friend-box"> 
          <p><strong>Friends: <%= @user.friends.count %></strong></p>
          <div class="is-flex">
          <% @user.friendships.each do |friend| %>
            <div class="friend-container is-flex is-flex-direction-column is-align-items-center"> 
            <% @user = User.find(friend.friend_id) %>
              <% @user.profiles.each do |profile| %>
                <%= link_to user_profile_path(@user.id) do %>
                  <% if profile.avatar.attached? %>
                    <figure class="image m-1">
                      <%= image_tag profile.avatar, class: "image is-32x32 is-rounded" %>
                    </figure>
                  <% else %>
                    <figure class="m-1">
                      <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar", :width => "30", :height => "30") %>
                    </figure>
                  <%end %>
                <% end %>
              <% end %>
              <%= link_to user_profile_path(@user.id) do %>
                <div class="is-flex"><%= @user.name %> <%= @user.surname %> </div>
              <% end %>
            </div>
            <% end %>
          </div>
          <% end %>
          </div>
        </div>
      </div>

      <div class="column is-half p-2" style="overflow:scroll; border-radius:100px">
        <% @posts_to_use.each do |post| %>
          <%= content_tag :div, id: dom_id(post) do %>
        <div class="container p-5" id="post-container">
          <div class="container post-card pt-4 pb-1 pl-4 pr-4">
            <div class="container is-flex" id="post-details">


              <div>
                <% if @profile.first.avatar.attached? %>
                  <figure class="image">
                <%= image_tag User.find(post.user_id).profiles.first.avatar, :class => "image is-rounded is-32x32 avatar" %>
                  </figure>
                <% else %>
                  <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar", :width => "40", :height => "40") %>
                <% end %>
              </div>

              <p class="ml-2"></p>
              <div class="container">
                <p id="user-name"><%= User.find(post.user_id).name %> <%= User.find(post.user_id).surname %></p>
                <p id="created-at"><%= DateTime.parse(post.created_at.to_s).strftime('%a %d %b %Y %H:%M') %></p>
              </div>
            </div>
          <div class="message-and-photo p-5">
            <p class="mb-2 display-message"><%= post.message %></p>
            <% if post.image.attached? %>
              <%= image_tag post.image, class: "post-image"%>
            <% end %>
            <% if post.likes.count != 0 %>
              <div class="container is-flex likes-count">
                <p>
                  <i class="fas fa-thumbs-up"></i> <strong><%= post.likes.count %></strong>
                </p>
              </div>
            <% end %>
          </div>
        </div>
        <%# likes %>
        <div class="container is-flex  likes-section">
          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete, class: "mt-2 mb-2 mr-5 button is-rounded is-small is-link like-btn" %>
          <% else %>
            <%= button_to 'Like', post_likes_path(post), method: :post, class: "mt-2 mb-2 mr-5 button is-rounded is-small is-link like-btn" %>
          <% end %>
        </div>
        <%# each comment displayed  %>
        <div class="comments-section p-3">
          <% post.comments.each do |comment| %>
          <div class="container individual-comment mb-3 p-2">
            
            <div class="is-flex is-flex-direction-column pb-2">
                <div class="is-flex">
                  <% if @profile.first.avatar.attached? %>
                  <figure class="image">
                    <%= image_tag User.find(comment.user_id).profiles.first.avatar, :class => "image is-rounded is-32x32 avatar" %>
                  </figure>
                  <% else %>
                    <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar", :width => "30", :height => "30") %>
                  <% end %>
                  <p class="ml-2"></p>
                    <strong>
                      <%= (User.find(comment.user_id)).name %> <%= (User.find(comment.user_id)).surname %>
                    </strong>
                </div>
              <div class="ml-4 p-2">
                <%= comment.body %>
              </div>
              <% if comment.image.attached? %>
                <figure class="p-4"><%= image_tag comment.image, class: "comment-image"%></figure>
              <% end %>
            </div>

            <div>
                <% if comment.likes.length != 0 %>
              <div class="container is-flex likes-count">
              <p>
                <i class="fas fa-thumbs-up"></i> 
                <strong><%= comment.likes.length %></strong>
              </p>
              </div>
                <% end %>
            </div>
          </div>
            <% end %>

            <%# comment form %>
            <div class="container is-flex comments-form pt-3">
              <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
                <%= form.hidden_field :user_id, value: current_user.id %>  
                <%= form.text_area :body, :placeholder => "Comment here ...", :class => "text-area-homepage" %>
                <div class="container is-flex is-justify-content-space-around">
                  <%= form.file_field :image, class: "form-control" %>
                  <%= form.submit "Comment", class: "mt-4 mb-4 mr-1 button is-rounded is-small comment-btn" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>   
        <% end %>
      <% end %>
      </div>
    </div> 
  </div>
</div>