<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>

<div id="main-container">
  <div class="columns">
    <div class="column left-col p-2 is-flex is-flex-direction-column is-align-items-center" style="background-color:white">
        <div class="container is-fluid is-flex is-justify-content-right">
          <%= link_to "Edit Profile", edit_user_profile_path, class: "button is-link is-small is-rounded mt-4" %>
        </div>
        <% @user.profiles.each do |profile| %><br>
        <figure class="image" id="profile-avatar">
          <% if profile.avatar.attached? %>
            <%= image_tag profile.avatar, class: "image is-rounded" %>
          <% else %>
            <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar") %>
          <% end %>
        </figure>
        <p style="font-size:3rem"><strong><%= @user.name %></strong></p>
        <div class="container is-flex">
          <p><%= profile.about %></p>
          <div class="container is-flex photo-box"> 
          <% @posts_to_use.each do |post| %>
            <% if post.image.attached? && (post.user_id == @user.id)%>
              <figure class="p-image"><%= image_tag post.image, class: "post-img"%></figure>
            <% end %>
              <% post.comments.each do |comment| %>
                <% if comment.image.attached? && (comment.user_id == @user.id) %>
                  <figure><%= image_tag comment.image, class: "comment-img"%></figure>
                <% end %>
              <%end %>
            <%end %>
          </div>
        </div>

        <div style="background-color:pink;border:1px solid black">FRIENDS <% @user.friends.each do |friend| %>
          <div> 
          <% @user = User.find(friend.friend_user) %>
            <% @user.profiles.each do |profile| %>
              <% if profile.avatar.attached? %>
                <figure class="image m-1"><%= image_tag profile.avatar, class: "image is-32x32 is-rounded" %></figure>
              <% else %>
                <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar", :width => "28", :height => "28") %>
              <%end %>
            <% end %>
              <%= @user.name + " " + @user.surname %> 
          </div>
          <% end %>
        </div>
        <% end %>
      </div>

      <div class="column p-2" style="overflow:scroll">
        <% @posts_to_use.each do |post| %>
          <%= content_tag :div, id: dom_id(post) do %>
        <div class="container p-5" id="post-container">
          <div class="container post-card pt-4 pb-1 pl-4 pr-4">
            <div class="container is-flex" id="post-details">
              <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar", :width => "40", :height => "40") %>
              <p class="ml-2"></p>
              <div class="container">
                <p id="user-name"><%= User.find(post.user_id).name %> <%= User.find(post.user_id).surname %></p>
                <p id="created-at"><%= DateTime.parse(post.created_at.to_s).strftime('%a %d %b %Y %H:%M') %></p>
              </div>
            </div>
          <div class="message-and-photo p-5">
            <p class="mb-2 display-message"><%= post.message %></p>
            <% if post.image.attached? %>
              <%= image_tag post.image, class: "post-image"%>
            <% end %>
            <% if post.likes.count != 0 %>
              <div class="container is-flex likes-count">
                <p>
                  <i class="fas fa-thumbs-up"></i> <strong><%= post.likes.count %></strong>
                </p>
              </div>
            <% end %>
          </div>
        </div>
        <%# likes %>
        <div class="container is-flex  likes-section">
          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete, class: "mt-2 mb-2 mr-5 button is-rounded is-small is-link like-btn" %>
          <% else %>
            <%= button_to 'Like', post_likes_path(post), method: :post, class: "mt-2 mb-2 mr-5 button is-rounded is-small is-link like-btn" %>
          <% end %>
        </div>
        <%# each comment displayed  %>
        <div class="comments-section p-3">
          <% post.comments.each do |comment| %>
          <div class="container individual-comment mb-3 p-2">
              <p class="ml-4">
                <strong>
                  <%= (User.find(comment.user_id)).name + " " + (User.find(comment.user_id)).surname %>
                </strong>
              </p>
              <p class="ml-4">
                <%= comment.body %>
              </p>
              <% if comment.image.attached? %>
                <%= image_tag comment.image, class: "comment-image"%>
              <% end %>
            </div>
            <% end %>
            <%# comment form %>
            <div class="container is-flex comments-form pt-3">
              <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
                <%= form.hidden_field :user_id, value: current_user.id %>  
                <%= form.text_area :body, :placeholder => "Comment here ...", :class => "text-area-homepage" %>
                <div class="container is-flex is-justify-content-space-around">
                  <%= form.file_field :image, class: "form-control" %>
                  <%= form.submit "Comment", class: "mt-4 mb-4 mr-1 button is-rounded is-small comment-btn" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>   
        <% end %>
      <% end %>
      </div>
    </div> 
  </div>
</div>