<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>

<div class="container p-2" style="background-color:white;width:18rem">
  <div class="mb-3">
    <h1>Friend requests</h1>
    <% @incoming.each do |requester| %>
      <p> <%= (User.find(requester.user_id)).name %> <%= (User.find(requester.user_id)).surname %></p>
      <div>
        <%= form_for requester, url: "/friend_requests/#{requester.id}" do |form| %>
          <%= form.submit "Accept Request", :class => "button is-rounded is-link" %>
        <% end %>
      </div>
      <div>
        <%= form_for requester, url: "/friend_requests/#{requester.id}", method: 'delete' do |form| %>
          <%= form.submit "Reject Request", :class => "button is-rounded is-link" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mb-3">
    <h2>Pending requests</h2>
    <% @requestees.each do |requestee| %>
      <p> <%= requestee.name %> <%= requestee.surname %></p>
    <% end %>
  </div>
</div>