<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>

<div class="container is-fluid">
  <div class="columns">
    <div class="column"></div>
      <div id="new-post" class="column is-half">
        <%# create a new post %>
        <div class="container is-flex p-4 mb-3" id="post-section">
          <div id="post-link" class="container is-flex is-align-items-center">
            <div class="is-flex is-align-items-center" id="top-text-area-container">

            <% current_user.profiles.each do |profile| %>
              <div>
                  <% if profile.avatar.attached? %>
                <figure class="image"><%= image_tag profile.avatar, :class => "image is-48x48 is-rounded avatar" %></figure>
                  <% else %>
                <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar", :width => "40", :height => "40") %>
                  <% end %>
              </div>
            <% end %>

                <p class="ml-2"></p>
              <%= form_with(model: [ @post, Post.new ], local: true) do |form| %>
              <%= form.text_area :message, placeholder: "What's on your mind?", :class => "text-area-homepage mt-2 top-text-area" %>
            </div>
            <div class="container is-flex is-justify-content-space-around pr-1 pl-1">
              <%= form.file_field :image, class: "form-control" %>
              <%= form.submit "Post", class: "mt-4 mb-4 mr-1 button is-rounded is-small is-link post-btn" %>
            </div>
            <% end %>
          </div>
        </div>
        <%# post displayed %>
        <% @posts.each do |post| %>
          <%= content_tag :div, id: dom_id(post) do %>
            <div class="container p-5" id="post-container">
              <div class="container post-card pt-4 pb-1 pl-4 pr-4">
                <div class="container is-flex" id="post-details">
                
                  <div>
                      <% if @profile.avatar.attached? %>
                    <figure class="image">
                    <%= image_tag User.find(post.user_id).profiles.first.avatar, :class => "image is-rounded is-32x32 avatar" %>
                    </figure>
                      <% else %>
                    <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar", :width => "40", :height => "40") %>
                      <% end %>
                  </div>

                    <p class="ml-2"></p>
                  <div class="container">
                    <p id="user-name"><%= User.find(post.user_id).name %> <%= User.find(post.user_id).surname %></p>
                    <p id="created-at"><%= DateTime.parse(post.created_at.to_s).strftime('%a %d %b %Y %H:%M') %></p>
                  </div>
                </div>
                <div class="message-and-photo p-5">
                  <p class="mb-2 display-message"><%= post.message %></p>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, class: "post-image"%>
                  <% end %>
                  <% if post.likes.length != 0 %>
                    <div class="container is-flex likes-count">
                      <p>
                        <i onclick="showNames(<%=post.id%>)" class="fas fa-thumbs-up show-likes"></i> 
                        <strong><%= post.likes.count %></strong>
                      </p>
                    </div>
                     <div class='show-like' id="show-like-<%= post.id %>" hidden>
                         <ul class='show-like-ul'>
                        <% post.likes.each do |like| %>
                          <li> <small> <%= "#{User.find(like.user_id).name} #{User.find(like.user_id).surname}" %> </small>  </li>
                        <% end %>
                         </ul>
                    </div>
                  <% end %>
                </div>
              </div>
              <%# likes %>
              
              <% if current_user %>
              <div class="container is-flex is-justify-content-space-between likes-section">
                <div class="is-flex">
                  <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
                  <% if pre_like %>
                    <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete, class: "mt-2 mb-2 mr-5 ml-5 button is-rounded is-small is-link like-btn" %>
                  <% else %>
                    <%= button_to 'Like', post_likes_path(post), method: :post, class: "mt-2 mb-2 mr-5 ml-5 button is-rounded is-small is-link like-btn" %>
                  <% end %>
                </div>
                <div class="is-flex">
                  <% if current_user && current_user.id == post.user_id %>
                  <%= button_to 'Edit', edit_post_url(post), method: :get, class: "mt-2 mb-2 mr-5 button is-rounded is-small is-link like-btn" %>
                
                  <%= button_to 'Delete', post_path(post), method: :delete, class: "mt-2 mb-2 mr-5 button is-rounded is-small is-danger like-btn" %>
                  <% end %>
                </div>
              </div>
              <% end %>

              <%# each comment displayed  %>
              <div class="comments-section p-3">
                <% post.comments.each do |comment| %>
                  <div class="container individual-comment mb-3 p-2" id="<%= dom_id(comment) %>">

                    <div class="is-flex is-flex-direction-column pb-2">
                    <div class="is-flex">
                        <% if @profile.avatar.attached? %>
                      <figure class="image">
                      <%= image_tag User.find(comment.user_id).profiles.first.avatar, :class => "image is-rounded is-32x32 avatar" %>
                      </figure>
                        <% else %>
                      <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar", :width => "30", :height => "30") %>
                        <% end %>
                      <p class="ml-2"></p>
                        <strong>
                          <%= (User.find(comment.user_id)).name %> <%= (User.find(comment.user_id)).surname %>
                        </strong>
                    </div>
                      <div class="ml-4 p-2">
                        <%= comment.body %>
                      </div>
                      <% if comment.image.attached? %>
                        <%= image_tag comment.image, class: "comment-image"%>
                      <% end %>
                    </div>
                    
                    <div>
                      <% if comment.likes.length != 0 %>
                        <div class="container is-flex likes-count">
                          <p>
                            <i class="fas fa-thumbs-up"></i> <strong><%= comment.likes.length %></strong>
                          </p>
                        </div>
                      <% end %>
                    </div>

                    <div class="container is-flex is-justify-content-space-between">
                      <div>
                        <% pre_like = comment.likes.find { |like| like.user_id == current_user.id} %>
                        <% if pre_like %>
                          <%= button_to 'Unlike', post_comment_like_path(comment_id: comment.id, post_id: post.id, id: pre_like.id), method: :delete, class: "mt-2 mb-2 mr-5 ml-5 button is-rounded is-small is-link is-light comment-unlike-btn" %>
                        <% else %>
                          <%= button_to 'Like', post_comment_likes_path(comment_id: comment.id, post_id: post.id), method: :post, class: "mt-2 mb-2 mr-5 ml-5 button is-rounded is-small is-link is-light comment-like-btn" %>
                        <% end %>
                      </div>
                      <div class="is-flex">
                        <% if current_user && current_user.id == comment.user_id %>
                          <div id="comment-btns">
                            <%= button_to "Edit", edit_post_comment_path(post, comment), method: 'get', class: "edit-comment-btn comment-form mt-2 mb-2 mr-5 button is-rounded is-small is-link is-light like-btn"%>
                            <%= button_to "Delete", post_comment_path(post, comment), method: 'delete', class: "dlt-comment-btn comment-form mt-2 mb-2 mr-5 button is-rounded is-small is-danger is-light like-btn"%>
                          </div>
                        <% end %>
                      </div>
                    </div>

                  </div>
                  <% end %>

                  <%# comment form %>
                  <div class="container is-flex comments-form pt-3">
                    <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
                      <%#= form.hidden_field :user_id, value: current_user.id %>
                      <%= form.text_area :body, :placeholder => "Comment here ...", :class => "text-area-homepage" %>
                      <div class="container is-flex is-justify-content-space-around">
                        <%= form.file_field :image, class: "form-control" %>
                        <%= form.submit "Comment", class: "mt-4 mb-4 mr-1 button is-rounded is-small comment-btn" %>
                      </div>
                    <% end %>
                  </div>
              </div>
           </div>   
          <% end %>
        <% end %>
      </div>
    <div class="column"></div>
  </div>
</div>

<script>

let showNames = (id) =>{
  document.querySelector(`#show-like-${id}`).toggleAttribute("hidden")
}

</script>