<a id='back_create_post' href='/posts'> Back</a>

<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message, placeholder: "What's on your mind?" %>
<div class="form-group">

<%= form.label :image %>
<%= form.file_field :image, class: "form-control" %>
<%= form.hidden_field :image_attachment %>
</div>


  <%= form.submit "Post" %>
<% end %>
