<!DOCTYPE html>
<html>
  <head>
    <title>GemJunkies</title>
    <%= csrf_meta_tags %>

    <%# <%= stylesheet_link_tag    'posts', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "application", async: true %>
    <script src="https://kit.fontawesome.com/ea92a85679.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>

  <body class="has-navbar-fixed-top">
    <% if user_signed_in?%>
    <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          <div class="p-1">
            <%= image_tag("RubyJunkiesLogo.png", :alt => "Gem Junkies Logo", :width => "28", :height => "28") %>
          </div>
          <p id="gem-junkies-brand">GemJunkies</p>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <%= link_to posts_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </div>

          <div class="navbar-item">
            <%= link_to new_post_path do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>
        </div>


      <div class="navbar-end">
        <div class="navbar-item">
          <%# <%= link_to TODO: user's profile page do %>
          <%# <% if user_signed_in? %>
            <%= link_to user_profile_path(current_user.id) do %>
              <% current_user.profiles.each do |profile| %>
              <% if profile.avatar.attached? %>
              <div class="is-flex">
                <figure class="image"><%= image_tag profile.avatar, :class => "image is-rounded" %></figure>
                  <% else %>
                <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar", :width => "28", :height => "28") %>
                  <% end %>
                <% end %>
                <p class='ml-1'><%= current_user.name%></p>
              </div>
            <% end %>
          <%# <% end %>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <div class="button is-rounded is-primary is-outlined is-small" id="logout-btn">
            <strong><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></strong>

            </div>
          </div>
        </div>
      </div>
    </nav>
    <% end %>
    <%# flash notice %>
    <% if notice %>
    <div class="mt-2 is-flex is-justify-content-center" style="padding-bottom:1rem">
      <p class="alert alert-success"><strong><%= notice %></strong></p>
    </div>
      <% end %>
      <% if alert %>
    <div class="mt-2 is-flex is-justify-content-center" style="padding-bottom:1rem">
      <p class="alert alert-danger"><strong><%= alert %></strong></p>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
