<!DOCTYPE html>
<html>
  <head>
    <title>GemJunkies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "application", async: true %>
    <script src="https://kit.fontawesome.com/ea92a85679.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>

  <body class="has-navbar-fixed-top">
    <% if user_signed_in?%>
    <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          <div class="p-1">
            <%= image_tag("RubyJunkiesLogo.png", :alt => "Gem Junkies Logo", :width => "28", :height => "28") %>
          </div>
          <p id="gem-junkies-brand">GemJunkies</p>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
      <% if (current_user.profiles.exists?)%>
          <div class="navbar-item">
            <%= link_to posts_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </div>

          <div class="navbar-item">
            <%= link_to new_post_path do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>

          <div class="navbar-item">
            <%= link_to users_profiles_path do %>
              <i class="fas fa-users"></i>
            <% end %>
          </div>

          <%# <div class="navbar-item"> %>
            <%# <%= link_to "View All Profiles", users_profiles_path, class: "button is-link is-small is-rounded" %>
          <%# </div> %>
       <% end %>
        </div>

        <% if (current_user.profiles.exists?)%>
        <div class="navbar-item">
        <%= form_tag "/users/profiles", method: "GET" do %>
          <%= label_tag :search_by_name %>
          <%= text_field_tag :search_by_name, params[:search_by_name] %>
          <%= button_tag do %>
            <i class="fas fa-search"></i>
          <% end %>
          <% end %>
        </div>
        <%end %>

        <% if (current_user.profiles.exists?)%>
        <div class="navbar-item">
        <%= link_to friend_requests_path do %>
          <i class="fas fa-user-friends"></i>
        <% end %>
        </div>
        <%end %>

      <div class="navbar-end">
        <div class="navbar-item">
          <%# <%= link_to TODO: user's profile page do %>
          <% if user_signed_in? && (current_user.profiles.exists?) %>
            <%= link_to user_profile_path(current_user.id) do %>
              <% current_user.profiles.each do |profile| %>
              <div class="is-flex">
                  <% if profile.avatar.attached? %>
                <figure class="image"><%= image_tag profile.avatar, :class => "image is-rounded" %></figure>
                  <% else %>
                <%= image_tag("GemJunkiesDefaultAvatar.png", :alt => "Gem Junkies Default Avatar", :width => "28", :height => "28") %>
                  <% end %>
                <% end %>
                <p class='ml-1'><%= current_user.name%></p>
              </div>
            <% end %>
          <% end %>
        </div>
        
          <div class="navbar-item">
            <%= link_to user_notifications_path(current_user.id) do %>
              <span class="fa-stack fa-1x" data-count=<%= @notification_count %>>
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
          </div>
        
        <div class="navbar-item">
        <% if (current_user.profiles.exists?)%>
          <div class="buttons">
            <div class="button is-rounded is-primary is-outlined is-small" id="logout-btn">
            <strong><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></strong>
        <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <% end %>
    <%# flash notice %>
    <% if notice %>
    <div class="container p-3 mb-3">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-half">
        <div class="mt-2 is-flex is-justify-content-center notification is-success is-light" style="padding-bottom:1rem">
          <button class="delete"></button>
          <p class="alert alert-success"><strong><%= notice %></strong></p>
        </div>
      </div>
      <div class="column"></div>
    </div>
    </div>
      <% end %>
      <% if alert %>
      <div class="container p-3 mb-3">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-half">
          <div class="mt-2 is-flex is-justify-content-center notification is-danger is-light" style="padding-bottom:1rem">
            <button class="delete"></button>
            <p class="alert alert-danger"><strong><%= alert %></strong></p>
          </div>
        </div>
        <div class="column"></div>
      </div>
      </div>
    <% end %>
    <%= yield %>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
          const $notification = $delete.parentNode;

          $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
          });
        });
      });
      </script>
  </body>
</html>

